# Creating a Query and 3 Documents (Sentences).

In [1]:
import numpy as np
import pandas as pd

Q = 'Data Science Subject'

D1 = 'I have Data Science assignment'
D2 = 'Data Science is an intresting Subject'
D3 = 'I like Data Science'

# Applying Tokinization and storing unique values in List called vocabulary

In [2]:
D = [Q,D1,D2,D3]
vocabulary = []

for i in Q,D1,D2,D3:
    i = i.split()
    for j in i:
         vocabulary.append(j) 
        
vocabulary = set(vocabulary)  #TO MAKE ELEMENTS(WORDS) UNIQUE
vocabulary = list(vocabulary)
print(len(vocabulary))

10

# Creating DataFrame

In [3]:
dic = dict()
keys = ['Q','D1','D2','D3']

for i in range(len(D)):
    temp = list(np.zeros(len(vocabulary) ,dtype = 'int'))
    for j in range(0,len(vocabulary),1):
        if(vocabulary[j] in D[i]):
            temp[j] = 1
    dic[keys[i]] = temp    
    
print(temp)
print(vocabulary)

dic

df = pd.DataFrame(dic)
df

[1, 1, 0, 0, 0, 0, 0, 0, 1, 1]
['Data', 'like', 'intresting', 'is', 'Subject', 'have', 'assignment', 'an', 'Science', 'I']

   Q  D1  D2  D3
0  1   1   1   1
1  0   0   0   1
2  0   0   1   0
3  0   0   1   0
4  1   0   1   0
5  0   1   0   0
6  0   1   0   0
7  0   0   1   0
8  1   1   1   1
9  0   1   0   1

# Working on required columns and add them to DataFrame

In [4]:
Dfi = []

for i in range(len(df)):
    count = 0
    lis = list(df.iloc[i])
    lis.pop(0)
    count = lis.count(not 0)
    Dfi.append(count)
    
df['Dfi'] = Dfi

df

   Q  D1  D2  D3  Dfi
0  1   1   1   1    3
1  0   0   0   1    1
2  0   0   1   0    1
3  0   0   1   0    1
4  1   0   1   0    1
5  0   1   0   0    1
6  0   1   0   0    1
7  0   0   1   0    1
8  1   1   1   1    3
9  0   1   0   1    2

In [5]:
Div = []

for i in Dfi:
    Div.append(3/i)
    
df['Div'] = Div

In [6]:
IDf = []
import math

for i in Div:
    IDf.append(round(math.log(i,10) , 4))
    
IDf

df['IDf'] = IDf

pandas.core.indexes.base.Index

In [7]:
weight_Q = df['Q'] * df['IDf']
weight_D1 = df['D1'] * df['IDf']
weight_D2 = df['D2'] * df['IDf']
weight_D3 = df['D3'] * df['IDf']


df['weight_Q'] = weight_Q
df['weight_D1'] = weight_D1
df['weight_D2'] = weight_D2
df['weight_D3'] = weight_D3

df['Vocabulary'] = vocabulary 
03

# Applying Styling to DataFrame

In [8]:
from IPython.display import HTML

def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "150%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]
html = (df.style.set_table_styles(styles)
          .set_caption("Hover to highlight."))
html

# Code to get Ranking

In [9]:
Q_mag  = df['weight_Q']  * df['weight_Q']
D1_mag = df['weight_D1'] * df['weight_D1']
D2_mag = df['weight_D2'] * df['weight_D2']
D3_mag = df['weight_D3'] * df['weight_D3']

Q_mag  = math.sqrt(round(sum(Q_mag),4))
D1_mag = math.sqrt(round(sum(D1_mag),4))
D2_mag = math.sqrt(round(sum(D2_mag),4))
D3_mag = math.sqrt(round(sum(D3_mag),4))

In [12]:
angle_for_D1 = (sum(df['weight_Q'] * df['weight_D1'])) / (Q_mag * D1_mag ) 


angle_for_D2 = (sum(df['weight_Q'] * df['weight_D2'])) / (Q_mag * D2_mag ) 


angle_for_D3 = (sum(df['weight_Q'] * df['weight_D3'])) / (Q_mag * D3_mag ) 


Rank = [angle_for_D1,angle_for_D2,angle_for_D3]
Rank.sort(reverse = True)
Rank

[0.5000261636405181, 0.0, 0.0]

In [13]:
for i in range(len(Rank)):
    print(f'Rank # {i+1} : {Rank[i]}')

Rank # 1 : 0.5000261636405181
Rank # 2 : 0.0
Rank # 3 : 0.0